@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: 'Albert Sans', sans-serif;
  font-optical-sizing: auto;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  /* cursor: none; */
  /* cursor:
    url('/images/cursor.svg') 16 16,
    auto; */
}

#app {
  height: 100vh;
}
